.background-img{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    animation:infinite;
    animation-duration: 2.5s;
    padding-bottom : 80px;
    padding-top:20px;
   position:absolute;
    min-height: 600px;
    opacity:.99;
    margin-top:70px;
    width:100%;


}
.background-img{
}